.Front-Main-Div{
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1180px;
}

.Front-second-div{
    align-items: end;
   display: flex;
   flex-direction: column;
}

.Front-second-div h1 {
    font-size: 72px
}

.Front-btn{
    justify-content: end;
    width: 220px;
    height:44px;
    padding: 10px 18px 10px 18px;
    border-radius: 5px;
    gap: 10px;
    
}